
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 0px;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 250px;
}

@media (min-width: 768px) {
    .select2-container--default .select2-results > .select2-results__options {
        max-height: 450px;
    }
}

.select2-selection {
    border: 1px solid #dd4b39 !important;
}
