@page
@model PinhuaMaster.Pages.Payroll.IndexModel
@{
    ViewData["Title"] = "工资单";
}

<div id="toolbar">
    <a asp-page="Create" class="btn btn-default">新建</a>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="box box-solid">
            <div class="box-body">
                <table data-toggle="table"
                       data-toolbar="#toolbar"
                       class="table table-striped table-hover"
                       style="white-space:nowrap">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>工资金额</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var payroll in Model.PayrollList.OrderByDescending(p => p.Y).ThenByDescending(p => p.M))
                        {
                            <tr>
                                <td><a asp-page="Details" asp-route-y="@payroll.Y" asp-route-m="@payroll.M">@(new DateTime(payroll.Y, payroll.M, 1).ToString("yyyy - MM"))</a></td>
                                <td>@pinhuaContext.PayrollDetails.AsNoTracking().Where(d => d.Y == payroll.Y && d.M == payroll.M).Sum(d => d.FinalAmount)?.ToString("0.00")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>