@page
@model PinhuaMaster.Pages.User.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div asp-validation-summary="All"></div>
<form method="post">
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" style="max-width:280px;" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" style="max-width:280px;" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" style="max-width:280px;" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">创建</button>
    <a asp-page="Index" class="btn btn-default">取消</a>
</form>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}